.navbar-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .home-row {
        min-width: 50px;
        height: 100%;
        margin-left: 10px;

        .home-row-content {
            margin-top: 7px;
            margin-left: 10px;
        }
    }

    .menu-row {
        text-align: center;

        .menu-row-options li {
            display: inline-block;
            padding-top: 7px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .darkmode-row {
        float: right;
        margin-right: 10px;
    }


    .section-skill-card {
        border-radius: 5px;
        width: 150px;
        transition: background-color 0.2s, transform 0.1s;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-top: 7px;
        padding-bottom: 7px;

        &:hover {
            transform: scale(1.05);

            &.light {
                background-color: var(--chakra-colors-gray-300);
            }

            &.dark {
                background-color: var(--chakra-colors-gray-600);
            }
        }

        &.light {
            background-color: var(--chakra-colors-gray-200);
        }

        &.dark {
            background-color: var(--chakra-colors-gray-700);
        }

        .card-label {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .logo {
        height: 25px;
    }
}
